---
Language: Cpp
BasedOnStyle: LLVM

PointerAlignment: Left
AlignConsecutiveMacros: true
AlignOperands: false
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes

AllowShortEnumsOnASingleLine: false

BraceWrapping:
  AfterEnum: false
